/* Estilos generales */
body {
  font-family: "Newsreader", serif;
  background-color: #FFF5E6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el logo*/

.logo {
  width: 250px !important;
  height: 250px !important;
  margin: 0 auto 1rem;
  display: block;
  }

/* Estilos para el título */
h1 {
  text-align: center;
  color: #4A3000;
  font-size: 2rem !important;
  margin-bottom: 2rem;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #D4A763 !important;
  border-radius: 4px;
}

button {
  background-color: hwb(156 18% 51%) !important;
  color: #F8E9C8;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold !important;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hwb(156 32% 37%) !important;
}


/* Estilos para el enlace de inicio de sesión */
.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: hwb(156 18% 51%);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}