#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Parte superior*/
.subtitulo {
  font-family: "Newsreader", serif;
  font-weight: 500;
  font-style: normal;
  color: #D1A246;
  position: absolute;
  top: 0;
  left: 2.5rem;
  font-size: 3.125rem;
  margin: 60px;
}

.logo {
  position: absolute;
  left: 1.29%;
  top: 5.5vh;
  width: 2.4%;
  height: auto;
}

.header-2 {
  display: flex;         
  align-items: center;        
  justify-content: flex-start; 
  padding: 0.625rem;              
}

.img-usuario {
  width: 70px;
  height: auto;
}

.img-carrito {
  width: 40px;
  height: auto;
}

.img-hamburguesa {
  width: 32px;
  height: auto;
}

.boton-usuario{
  background-color: #ffffff;
  position: absolute;
  left: 2210px;
  top: 52px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.boton-carrito{
  background-color: #ffffff;
  position: absolute;
  left: 2300px;
  top: 52px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.boton-hamburguesa{
  background-color: #ffffff;
  position: absolute;
  left: 2120px;
  top: 52px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.menu-hamburguesa {
  display: inline-flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  border-radius: 8px;
  font-size: 18px;
  position: absolute;
  top: 4rem; 
  right: 420px;
}

.menu-section {
  list-style-type: none;
  margin: 0;
  padding: 0 25px; 
}

.menu-section h3 {
  font-size: 19px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu-section li {
  margin: 5px 0;
}

.menu-section li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.menu-section li a:hover {
  color: #007bff;
}

.cerrar-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cerrar-link:hover {
  color: red !important;
}

.boton-inicio{
  text-decoration: 'none';
  color: 'inherit'
}

.menu-div{
  display: flex;
}

.second-column {
  padding-top: 53px;
}

