#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.subtitulo {
  font-family: "Newsreader", serif;
  font-weight: 500;
  font-style: normal;
  color: #D1A246;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  margin-left: -20px;
}

/*
.rayas-background {
  margin: 0; 
  background: 
    blue 10px,
    repeating-linear-gradient(
      90deg, 
      white 0px,  
      white 30px,  
      #ffcdd4 30px, 
      #ffcdd4 60px  
    );
}
*/





