#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.subtitulo {
  font-family: "Newsreader", serif;
  font-weight: 500;
  font-style: normal;
  color: #D1A246;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 60px;
  font-size: 35px
}







