/* Contenedor general del formulario */
.compra-container {
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre el formulario y la lista */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 20px;
}

/* Ajuste del formulario */
.Compra-seccion-formulario {
    width: 60%; /* Reducimos el ancho del formulario */
    background-color: #fff;
    padding: 1.5rem; /* Reduce el padding */
    border-radius: 8px;
    box-shadow: none; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 1rem; /* Espacio entre los campos */
    margin-right: 20rem; /* Reducimos el margen entre el formulario y la lista de libros */
}

.Compra-seccion-formulario h1 {
    font-family: "Newsreader", serif;
    font-size: 1.5rem;
    color: #D1A246;
    margin-top: 5rem; /* Aumenta el margen superior */
    margin-bottom: 0rem; /* Aumenta el margen inferior */
    text-align: left; /* Alineación del título a la izquierda */
}

.Compra-form-group {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; /* Alinea el label y el input verticalmente */
}

label {
    margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

.Compra-seccion-formulario input,
.Compra-seccion-formulario select {
    width: 100%; /* Ajusta el ancho al 100% */
    padding: 0.75rem;
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Newsreader", serif;
    color: #646363; /* Color de texto oscuro */
    box-sizing: border-box; 
}

.Compra-seccion-formulario input::placeholder,
.Compra-seccion-formulario select::placeholder {
    color: #646363; 
}

.Compra-seccion-formulario input:focus,
.Compra-seccion-formulario select:focus {
    outline: none;
    border-color: #D1A246; /* Borde dorado al enfocar */
    box-shadow: 0 0 5px rgba(163, 135, 80, 0.5); /* Sombra dorada al enfocar */
}

/* Ajuste específico para el campo select */
.Compra-seccion-formulario select {
    line-height: normal; /* Ajusta la altura de línea */
    vertical-align: middle; /* Alineación vertical al centro */
    appearance: none; 
    background-image: none; /* Elimina el ícono de flecha predeterminado */
}

.Compra-seccion-formulario button {
    width: 100%;
    padding: 0.75rem;
    background-color: #004D40;
    color: rgb(238, 232, 232);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Newsreader", serif;
}

.Compra-seccion-formulario button:hover {
    background-color: #ffffff; /* Color blanco al pasar el cursor */
    color: #004D40; /* Cambia el color del texto en hover */
    border: 1px solid #004D40; /* Agrega un borde en hover */
}

/* Nueva clase para la lista de totales */
.Compra-lista-totales {
    width: 38%; /* Le damos más espacio a la lista de libros */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Compra-totales {
    margin-bottom: 20px;
}

/* Estilos para el botón de compra */
.boton-comprar {
    display: flex; 
    justify-content: right; /* Centra el botón */
    margin-top: 100px; /* Espacio arriba del botón */
    width: 90%; 
}

.boton-comprar button {
    padding: 10px 4px;
    background-color: #0e735f; /* Ajusta este color si es necesario */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 60%; 
}

.boton-comprar button:hover {
    background-color: #0c624e; 
}

/* Estilos para la lista de libros */
.Compra-list-libros {
    list-style-type: none; /* Elimina los bullets */
    padding: 0;
    display: grid; /*  Grid para crear dos columnas */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 15px 10px; /* Espaciado entre las filas y columnas */
    width: 100%; 
    margin-bottom: 40px; /* Espacio entre las listas */
}

.Compra-list-libros li {
    display: contents; /* Permite que los elementos internos sigan el grid */
    font-family: "Newsreader", serif;
    font-size:1.25rem;
    color: #333;
}

.Compra-list-libros li span:first-child {
    grid-column: 1 / 2; /* Primera columna para el nombre del libro */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Esconde el desbordamiento de texto */
    text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
}

.Compra-list-libros li span:last-child {
    grid-column: 2 / 3; /* Segunda columna para el precio */
    text-align: right; /* Alinea el precio a la derecha */
    color: #D1A246; /* Color dorado para el precio */
}

.Compra-list-libros li span:last-child::before {
    content: "$"; 
    margin-right: 3px; 
}

.popup-compra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 236, 236, 0.334); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Compra-popup-contenido {
    background-color: #f4efef;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.Compra-popup-contenido h2 {
    margin-bottom: 20px;
    color: rgb(5, 5, 5); /* Cambia el color del texto a negro */
}

.Compra-popup-contenido button {
    padding: 10px 20px;
    background-color: #137c67;
    color: rgb(233, 228, 228);
    border: none;
    cursor: pointer;
}

.Compra-popup-contenido button:hover {
    background-color: #08382d;
}

