.cupones-container {
    padding: 0 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: space-between; /* Espacia uniformemente los elementos */
    gap: 20px; 
    margin-top: 20px;
}

.cupones-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.cupones-header h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.boton-agregar-cupon {
    padding: 8px 12px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #06966f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cupones-container {
    padding: 0 20px;
}
.cupones-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding-left: 300px; /* Espacio entre los cupones y el costado izquierdo */
    padding-right: 100px; /* Espacio entre los cupones y el costado derecho */
}

.boton-agregar-cupon:hover {
    background-color: #057a5b;
}

.cupon {
    width: calc(20% - 20px); /* Para tres cupones por fila */
    margin-bottom: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}


.cupon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cupon-icono {
    font-size: 2rem;
    color: #666;
    margin-right: 15px;
    margin-bottom: 10px;
}

.cupon-info {
    flex-grow: 1;
    margin-bottom: 10px;
}

.cupon h3 {
    font-size: 1.2rem;
    color: #000;
    margin: 0 0 5px;
}

.cupon p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}

.Cupon-boton-aplicar {
    padding: 8px 15px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #06966f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Cupon-boton-aplicar:hover {
    background-color: #057a5b;
}

.cupon::before,
.cupon::after {
    content: '';
    position: absolute;
    width: 20px; 
    height: 40px;
    background-color: #f9f9f9;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.cupon::before {
    left: -10px;
}

.cupon::after {
    right: -10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-content {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content .botones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espaciado entre los botones */
    margin-top: 20px; /* Espaciado superior opcional */
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    width: 100%; 
    text-align: left;
}

.modal-content input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}


.modal-content button {
    padding: 8px 15px;
    font-size: 1rem;
    margin:  0 10px;
    color: #fff;
    background-color: #06966f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    
}

.modal-content button:hover {
    background-color: #057a5b;
}
