:root {
    --color-primary: #D1A246;  
    --color-secondary: #297272; 
    --color-border: #ccc;
    --font-primary: "Newsreader", serif; 
    --font-secondary: "Inter", sans-serif; 
}

.listaLibros-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.25rem auto;
    padding: 2rem;
    width: 90%;
    box-shadow: none; 
}

.listaLibros-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
}

.listaLibros-title {
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 4rem;
    margin: 4rem 0 1rem 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-weight: normal;
}

.listaLibros-subtitle {
    font-family: var(--font-primary);
    color: gray; 
    font-size: 3rem; 
    margin: 0 0 1rem 2rem; 
    text-align: left;
    font-weight: normal;
}

.listaLibrosListaLibros-libros-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 1rem; 
    width: 90%; 
    max-width: 100%;
    padding: 1rem; 
    border-radius: 0.5rem; 
    margin-top: 0rem; 
    position: relative;
    top: 0rem;
    left: 0;
    flex-wrap: wrap;
}

.libroListaLibros-book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    background-color: #FAFAF5;
    border: 1px solid #c7c3c3;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.libroListaLibros-book-image {
    width: 12rem;  
    height: 18rem; 
    border-radius: 1.5rem;
    object-fit: cover;
}

.libroListaLibros-book-details {
    flex-grow: 1;
    margin-left: 1.5rem;
    text-align: left;
}

.libroListaLibros-book-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.libroListaLibros-title-container {
    display: flex; 
    align-items: center;
}

.libroListaLibros-book-title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer; 
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.libroListaLibros-book-title:hover {
    color: #D1A246; 
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
}

.libroListaLibros-price-button-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    margin-top: 0.5rem; 
}

.libroListaLibros-book-author {
    font-size: 2rem;
    font-weight: bolder;
    color: #287271;
    margin: 0;
    text-transform: uppercase;
}

.libroListaLibros-book-price {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0rem;
    margin-right: 1rem;
    text-transform: uppercase;
}

.libroListaLibros-cart-button{
    background-color: #ffffff;
    padding: 0.3rem;
}
.libroListaLibros-cart-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.libroListaLibros-synopsis-title {
    font-size: 3rem;
    color: #1A4146;
    font-weight: 600;
    margin-top: 1rem;
    text-align: left;
    font-family: var(--font-primary);
}

.libroListaLibros-synopsis-text {
    font-size: 1.5rem;
    color: #6D6D6D;
    margin-top: -4rem;
    margin-bottom: 0;
    text-align: left;
}

.libroListaLibros-img-carrito {
    width: 2.5rem;
    height: auto;
}

.listaLibros-paginacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 16px;
}

.listaLibros-paginacion-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listaLibros-paginacion-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.listaLibros-paginacion-container span {
    margin: 0 15px;
    font-weight: bold;
}

.listaLibros-botonPagina {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

.listaLibros-botonPagina:hover {
    background-color: #f3f4f6;
}

.libroListaLibros-star-button {
    background: transparent;
    border: none; 
    cursor: pointer; 
    margin-left: 0.25rem; 
}

.libroListaLibros-star-button:hover {
    filter: brightness(1.2); 
    transition: filter 0.3s ease; 
}

.libroListaLibros-star-icon {
    width: 2.5rem; 
    height: auto; 
}

.libroListaLibros-mensaje-general {
    color: black;
    font-size: 1.5rem; 
    background-color: #F8E9C8;
    border-radius: 5px;
    padding: 1rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    margin: 1rem auto; 
    margin-right: 1rem;
    text-align: center; 
    max-width: 80%; 
    width: fit-content; 
    min-width: 200px; 
}


