:root {
    --color-primary: #D1A246;
    --color-secondary: #297272;
    --color-secondary-hover: #1a4146;
    --color-border: #ccc;
    --font-primary: "Newsreader", serif;
    --font-secondary: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* Cambia a columna para que los elementos se apilen verticalmente */
    align-items: flex-start;
    margin: 1.25rem auto;
    border: 2px solid var(--color-border);
    border-radius: 0.5rem;
    background-color: white;
    padding: 2rem;
    width: 90%;
    max-width: 1400px;
}

.title-container {
    margin-bottom: 0rem;
}   

.title {
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 5rem;
    margin: 2rem 0 1rem 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid var(--color-border);
}

.subtitle {
    font-family: var(--font-primary);
    color: gray; 
    font-size: 2rem; 
    margin: 0 0 1rem 2rem; 
    text-align: left;
    font-weight: normal;
}

.lista-libros {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
    max-width: 100%;
    margin-left: 0; 
    padding: 0; 
    position: relative;
    top: 0.5rem;
    left: 1.7rem;
    flex-wrap: nowrap; 
}

.book-container {
    display: flex;
    align-items: flex-start;
    padding: 0.6rem;
    background-color: #FAFAF5;
    border-width: 1px; 
    border-style: solid; 
    border-color: #c7c3c3; /* Color más claro */
    border-radius: 1.5rem;
    margin-bottom: 3rem; 
    width: 90%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.book-image {
    width: 14rem;  
    height: 20rem; 
    border-radius: 1.5rem;
}

.book-details {
    flex-grow: 1;
    margin-left: 1.5rem;
    text-align: left;
}

.book-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.book-title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

.book-author {
    font-size: 2rem;
    font-weight: bolder;
    color: #287271;
    margin: 0;
    text-transform: uppercase;
    
    font-family: var(--font-secondary);
}

.book-price {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

.cart-button {
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 9999px;
}

.synopsis-title {
    font-size: 3rem;
    color: #1A4146;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
}

.synopsis-text {
    font-size: 1.5rem;
    color: #6D6D6D;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: left;
}

.lista-libros-container {
    margin-top: 1rem; 
    width: 100%;
}