:root {
    --color-primary: #D1A246;
    --color-secondary: #297272;
    --color-secondary-hover: #1a4146;
    --color-border: #ccc;
    --font-primary: "Newsreader", serif;
    --font-secondary: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.25rem auto;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2rem;
    width: 90%;
    max-width: 1400px;
}

.title-container {
    margin-bottom: 0rem;
}   

.title {
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 5rem;
    margin: 2rem 0 1rem 2rem;
    padding-bottom: 0.5rem;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid var(--color-border);
}

.subtitle {
    font-family: var(--font-primary);
    color: gray; 
    font-size: 2rem; 
    margin: 0 0 1rem 2rem; 
    text-align: left;
    font-weight: normal;
}

.lista-libros {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
    max-width: 100%;
    margin-left: 0; 
    padding: 0; 
    position: relative;
    top: 0.5rem;
    left: 1.7rem;
    flex-wrap: nowrap; 
}

.book-container {
    display: flex;
    align-items: flex-start;
    padding: 0.6rem;
    background-color: #FAFAF5;
    border-width: 1px; 
    border-style: solid; 
    border-color: #c7c3c3;
    border-radius: 1.5rem;
    margin-bottom: 3rem; 
    width: 90%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.book-image {
    width: 12rem;  
    height: 16rem; 
    border-radius: 1.5rem;
}

.book-details {
    flex-grow: 1;
    margin-left: 1.5rem;
    text-align: left;
}

.book-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.book-title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

.book-author {
    font-size: 2rem;
    font-weight: bolder;
    color: #287271;
    margin: 0;
    text-transform: uppercase;
    
    font-family: var(--font-secondary);
}

.book-price {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

.cart-button {
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 9999px;
}

.synopsis-title {
    font-size: 3rem;
    color: #1A4146;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
}

.synopsis-text {
    font-size: 1.5rem;
    color: #6D6D6D;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: left;
}

.lista-libros-container {
    margin-top: 1rem; 
    width: 100%;

}

/*LO DE LA PARTE DE ARRIBA*/
.header-2 {
    display: flex;         
    align-items: center;        
    justify-content: flex-start; 
    padding: 0.625rem;              
  }
  
  .logo {
    position: absolute;
    left: 1.29%;
    top: 5.5vh;
    width: 2.4%;
    height: auto;
  }
  
  .subtitulo {
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    color: #D1A246;
    position: absolute;
    top: 0;
    left: 2.5rem;
    font-size: 3.125rem;
  }
  
  .boton-hamburguesa {
    background-color: #ffffff;
    position: absolute;
    right: 15.625vw;
    top: 3.25vh;
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .img-hamburguesa {
    width: 2rem;
    height: auto;
  }
  
  .boton-usuario {
    background-color: #ffffff;
    position: absolute;
    right: 9.375vw;
    top: 3.25vh;
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .img-usuario {
    width: 4.375rem;
    height: auto;
  }
  
  .subtitulo-2 {
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    color: #D1A246;
    position: absolute;
    top: 22.5vh;
    left: 2.5rem;
    font-size: 2.8125rem;
  }

  .img-carrito {
    width: 2.5rem;
    height: auto;
  }
  
  .boton-carrito {
    background-color: #ffffff;
    position: absolute;
    right: 3.125vw;
    top: 3.25vh;
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center; 
    align-items: center;
  }