/* Estilos generales */
.container body {
    font-family: "Newsreader", serif;
    background-color: #FFF5E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Estilos para el logo */
.container .logo {
    width: 250px;
    height: 250px;
    margin: 0 auto 1rem;
    display: block;
}

/* Estilos para el título */
.container h1 {
    text-align: center;
    color: #4A3000;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

/* Estilos para el formulario */
.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #D4A763;
    border-radius: 4px;
}

.container button {
    background-color: hwb(156 18% 51%);
    color: #F8E9C8;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: hwb(156 32% 37%);
}


.container .Registrarse-link {
    margin-top: 20px;
    text-align: center;
  }
  
.container .Registrarse-link a {
    color: #4CAF50;
    text-decoration: none;
  }
  
.container .Registrarse-link a:hover {
    text-decoration: underline;
  }