#root {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
  }
   
.PublicarLibro-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    max-width: 2160px;
    max-height: 1200px;
    margin: 20px auto;
    margin-top: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.PublicarLibro-book-image {
    width: 481px;
    height: 720px;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transform: translateY(-40px);
}

.PublicarLibro-book-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.PublicarLibro-book-detalles {
    flex: 1;
    margin-left: 40px;
}

.PublicarLibro-input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.PublicarLibro-textarea-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: vertical; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.PublicarLibro-book-precio {
    font-size: 1rem;
    color: #333;
    
}

.PublicarLibro-boton-publicar{
    background-color: rgba(40, 114, 113, 1);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.PublicarLibro-boton-publicar:hover {
    background-color: rgb(35, 100, 99);
}

.PublicarLibro-menu-generos {
  position: absolute;
  top: 737px; 
  right: 220px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.PublicarLibro-menu-generos ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.PublicarLibro-menu-generos ul li {
  margin: 10px 0;
}

.PublicarLibro-menu-generos ul li a {
  text-decoration: none;
  color: #333;
}

.PublicarLibro-menu-generos ul li a:hover {
  color: #007bff;
}

.PublicarLibro-generos-field {
  width: 100%;             
  padding: 10px;            
  border: 1px solid #ccc;    
  border-radius: 4px;        
  font-size: 1rem;          
  background-color: #fff;   
  color: #777;              
  box-sizing: border-box;   
  cursor: pointer;
  margin-bottom: 15px;    
  text-align: left; 
  position: relative;        
}

.PublicarLibro-arrow {
  margin-left: 10px;         
  font-size: 14px;           
  vertical-align: middle;    
  position: absolute;         
  right: 10px;               
  top: 50%;                  
  transform: translateY(-50%); 
}

.PublicarLibro-generos-field:hover {
  background-color: #f9f9f9; 
}

.PublicarLibro-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PublicarLibro-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.PublicarLibro-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.PublicarLibro-input-popup {
  width: 90%;
  padding: 8px;
  box-sizing: border-box; 
  margin-left: 15px;
}

.PublicarLibro-boton-crearGenero{
  background-color: rgba(40, 114, 113, 1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.PublicarLibro-boton-crearGenero:hover {
  background-color: rgb(35, 100, 99);
}

.PublicarLibro-boton-cancelarGenero{
  background-color: #ececec;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.PublicarLibro-boton-cancelarGenero:hover {
  background-color: #d6d6d6;
}

.PublicarLibro-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  width: 100px;       
  text-align: left;
  justify-content: left; 
  display: block;
  text-align: left;
}

.PublicarLibro-checkboxes {
  display: flex;
  gap: 15px; 
  margin-top: 20px; 
  align-items: center;
}

.PublicarLibro-checkboxes label {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #333; 
  cursor: pointer;
  font-family: Arial, sans-serif; 
}

.PublicarLibro-checkboxes input[type="checkbox"] {
  margin-right: 8px; 
  width: 20px;
  height: 20px;
  accent-color: #007bff; 
}

.PublicarLibro-checkboxes input[type="checkbox"]:hover {
  transform: scale(1.1); 
}
