 .usuario-container {
    font-family: 'Newsreader', serif;
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .usuario-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .usuario-logo {
    width: 250px;
    height: 250px ;
    margin: 0 auto 1rem;
    display: block;
    }
  
  .usuario-title {
    color: #4a3000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .usuario-editTitle {
    color: #4a3000;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .usuario-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d4a763;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .usuario-saveButton {
    background-color: #218c8d;
    color: #f8e9c8;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
  }
  
  .usuario-deleteSection {
    margin-top: 30px;
  }
  
  .usuario-deleteButton {
    background-color: #c0392b;
    color: #f8e9c8;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }
  