:root {
    --color-primary: #D1A246;
    --color-secondary: #297272;
    --color-secondary-hover: #1a4146;
    --color-border: #ccc;
    --font-primary: "Newsreader", serif;
    --font-secondary: "Inter", serif;
}

.VerOrdenes-contenedor {
    padding: 6rem;
    background-color: white;
    min-height: 100vh;
    width: 80%;
}

.VerOrdenes-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.VerOrdenes-titulo {
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--font-primary);
    color: var(--color-primary)
}

.VerOrdenes-estadisticas {
    margin-bottom: 1rem;
}

.VerOrdenes-contadores {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: #4b5563;
}

.VerOrdenes-herramientas {
    display: flex;
    gap: 0.9rem;
    margin-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.VerOrdenes-selectFechas,
.VerOrdenes-filtroCliente select {
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: white;
    min-width: 150px;
    font-size: 1.5rem;
}

.VerOrdenes-botonFiltrar {
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    background-color: white;
    cursor: pointer;
}

.VerOrdenes-botonFiltrar:hover {
    background-color: #f3f4f6;
}

.VerOrdenes-totalItems {
    margin-left: auto;
    color: #6b7280;
}

.VerOrdenes-paginacion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.VerOrdenes-botonPagina {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

.VerOrdenes-botonPagina:hover {
    background-color: #f3f4f6;
}

.VerOrdenes-tabla {
    width: 100%;
    border-collapse: collapse;
}

.VerOrdenes-encabezadoTabla {
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.VerOrdenes-columna {
    padding: 0.5rem;
    color: #374151;
    font-weight: 500;
    font-size: 2rem;
}

.VerOrdenes-fila {
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.75rem;
}

.VerOrdenes-fila:hover {
    background-color: #f9fafb;
}

.VerOrdenes-celda {
    padding: 0.8rem;
}

.VerOrdenes-idCliente {
    color: #2563eb;
    text-decoration: none;
}

.VerOrdenes-idCliente:hover {
    text-decoration: underline;
}

.VerOrdenes-estadoEtiqueta {
    background-color: #fef3c7;
    color: #92400e;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.75rem;
}

.VerOrdenes-infoEnvio {
    line-height: 1.4;
}

.VerOrdenes-infoOrden {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.VerOrdenes-direccion {
    font-size: 0.875rem;
    color: #6b7280;
}

.VerOrdenes-total {
    font-weight: bold;
    color: #1f2937;
}

.VerOrdenes-filtroCliente {
    display: flex;
    align-items: center;
}
